# Exposed
API_URL=http://127.0.0.1:8000

# Secret: Client Should not know
OPENAI_API_KEY={OPENAI_API_KEY}
## Read: https://help.openai.com/en/articles/4936850-where-do-i-find-my-secret-api-key
HUGGINGFACE_API_KEY={HUGGINGFACE_API_KEY} 
## Read: https://huggingface.co/transformers/main_classes/api.html#transformers-cli
PROMPTLAYER_API_KEY=[PROMPTLAYER_API_KEY]
## Read: https://promptlayer.com/docs/#authentication 

DEBUG=False
